# User & Group IDs (rode 'id' no terminal para confirmar)
PUID=1000
PGID=1000
TZ=America/Sao_Paulo

# Paths (Use caminhos absolutos sem variáveis de sistema)
BASE_DATA_PATH=./data
BASE_CONFIG_PATH=./config

# FlareSolverr
LOG_LEVEL=info

# Definição de Portas
PLEX_PORT=32400
PROWLARR_PORT=9696
FLARESOLVERR_PORT=8191
RADARR_PORT=7878
SONARR_PORT=8989
QBIT_WEBUI_PORT=8090
QBIT_PORT=6881